name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'tp1/src/**'
  workflow_dispatch:

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

  build:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build com Maven
        working-directory: tp1
        run: mvn clean install

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Executar testes
        working-directory: tp1
        run: mvn test

  package:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gerar .jar com Maven
        working-directory: tp1
        run: mvn package

  deploy:
    runs-on: ubuntu-latest
    needs: [build, test]
    steps:
      - name: Mensagem de Deploy
        run: echo "Deploy realizado com sucesso"